body{
    margin: 0;
    font-family: Arial, sans-serif
}

.header,.hero,.footer{
    background-color: #1f2937;
    color: white;
}

.header{

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.links a{

    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-text p{
    margin: 20px 0;
}

.hero-text button{
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.hero-image{
    background-color: #6b7280;
    color: #d1d5db;
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section{
    text-align: center;
    padding: 50px;
}

.info-section h2{
    font-size: 24px;
    font-weight: bold;;
}

.info-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card{
    max-width: 150px;
}

.img-placeholder{
    width: 150px;
    height: 150px;
    border: 2px solid #3b82f6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.quote-section{
    background-color: #e5e7eb;
    padding: 60px 150px;
    font-size: 20px;
    font-style: italic;
}

.quote-author{
    text-align: right;
    font-style: normal;
    font-weight: bold;
    margin-top: 20px;
}

.cta-section{
    background-color: white;
    padding: 60px;
    display: flex;
    justify-content: center;
}

.cta-box{
    background-color: #3b82f6;
    color: white;
    padding: 30px 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.cta-box button{
    background-color: white;
    color: #3b82f6;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.footer{
    text-align: center;
    padding: 30px;
    font-size: 14px;
}